
.timeline{
    margin: 5rem auto;
    max-width: 34.15rem;
    /* display: flex;
    flex-direction: column; */
}

.checkpoint{
    max-width: 34rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}

.checkpoint div{
    border: 2px solid #7ce0d3;
    border-radius: 1rem;
    padding: 1rem;
}

.checkpoint p {
    line-height: 27px;
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3rem;
    transform: translateX(17rem);
}

.checkpoint:nth-child(even){
    border-left: 3px solid #888;
        padding-left: 3rem;
        transform: translateX(-17rem);
}

.checkpoint:nth-child(odd)::before,.checkpoint:nth-child(even)::before{
    content: '';
    background: #888;
    width: 3rem;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.checkpoint:nth-child(odd)::before{
    left: 0;
}
.checkpoint:nth-child(even)::before{
    left: 0;
}

@media screen and (max-width : 1150px){
    .timeline{
        width: 80vh;
    }
    .timeline .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        border: none;
    }
    /* .timeline .checkpoint::before{
        width: 3px;
        height: 4em;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
    } */
}